body {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    color: #0E0E0E;
}

.menuBlocks {
    background: #0E0E0E;
    color: #FFFFFF;
}

.navbarMenuLinks {
    color: #FFFFFF;
}


.navbarMenuLinks:hover {
    color: #E52520;
    text-decoration: underline;
}

.navbarMenuLinks:focus {
    color: #034579;
    text-decoration: underline;
}

.navbarMenuLinks:active {
    color: #034579;
}


.mainButtons {
    background-color: #2B6092;
}

.indexBG {
    position: absolute;
    width: 100%;
    background: #3F3E3A;
    z-index: -1;
}

.indexBG > img {
    width: 100%;
    z-index: -1;
    filter: brightness(30%);
}

.blocksTitle {
    padding-top: 13.8vh;
    /*padding-top: 3vh;*/
    padding-bottom: 3vh;
}

.blocksTitleFirst {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.blockBenefits {
    padding-top: 4.63vh;
}

.benefitsCards > img {
    padding-top: 4.32vh;
}

.benefitsCards > h4 {
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.benefitsCards > a {
    margin-bottom: 10vh;
}

.productCard {
    background: #0E0E0E;
    color: #FFFFFF;
}

.cardsHeadImage {
    transition: 1s;
}

.cardsHeadImage:hover {
    transform: scale(1.2);
    z-index: 1;
}

.productCardTitle {
    background: #E52520;
}

.productCardIcons {
    color: #034579;
}

.productCardBadge {
    background: #E52520 !important;
}

.catalogTabs > .nav-item > .nav-link {
    color: #0E0E0E;
}

.catalogTabs > .nav-item > .nav-link:hover, .catalogTabs > .nav-item > .nav-link:active {
    border-color: #0E0E0E;
}

.catalogNavigationRow > .col-12 {
    padding-top: 1.5vh;
}

.catalogNavigationRow > div > nav > ul {
    justify-content: center;
}

.catalogNavigationRow > div > nav > ul > li > .page-link {
    background-color: #0E0E0E;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.catalogNavigationRow > div > nav > ul > li > .page-link:hover {
    color: #E52520;
}

.catalogNavigationRow > div > nav > ul > li > .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(43, 96, 146, 0.25);
    color: #2B6092;
}

.socials {
    flex-direction: column;
    justify-content: center;
}

.socials > a {
    color: #0E0E0E;
}

.contactsIcons {
    color: #034579;
}

#menuBlockFull {
    height: 11vh;
}

#menuNavbarToggler {
    color: #FFFFFF;
}

#navbarBrandLogoFull {
    width: 20vw;
}

#navbarBrandLogoMobile {
    width: 50vw;
}

#promotionBlock > .row {
    align-items: center;
}

#indexCardHeadImg {
    max-height: 55vh;
}

#motto {
    color: #FFFFFF;
}

#salesBlock {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/salesShrimps.jpg);
    background-size: cover;
    color: #FFFFFF;
}

#shopBlock {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/shopLink.jpg);
    background-size: cover;
    color: #FFFFFF;
}


#contactsTitleBlock {
    height: 14.7vh;
}

#contactsContent {
    height: 74.3vh;
}

#deliveryTitle {
    height: 14.7vh;
}

#deliveryContent {
    height: 74.3vh;
}

#contactsAddres {
    font-weight: bold;
    padding-bottom: 1.5vh;
}

#contactsPhone {
    text-decoration: none;
}

#contactsTelegramLink {
    color: #0E0E0E;
    text-decoration: none;
}

@media(max-width: 991.98px) {
    .indexBG {
        height: 92vh;
    }

    .indexBG > img {
        height: 92vh;
    }

    #menuBlockFull, #indexBGFull {
        display: none;
    }

    #promotionBlock > .row {
        height: 92vh;
    }

    #motto {
        text-align: center;
    }

    #deliveryContent {
        height: 67vh;
    }

    #contactsContent {
        height: 67vh;
    }
}

@media(min-width: 991.98px) {
    .indexBG {
        height: 89vh;
    }

    .indexBG > img {
        height: 89vh;
    }
    
    #menuBlockMobile, #indexBGMobile {
        display: none;
    }

    #promotionBlock > .row {
        height: 89vh;
    }

    #promoCard {
        width: 75%;
    }
}