body {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    color: #0E0E0E;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover, input[type="number"]:focus {
    -moz-appearance: number-input;
}

.menuBlocks {
    background: #0E0E0E;
    color: #FFFFFF;
}

.navbarMenuLinks {
    color: #FFFFFF;
}


.navbarMenuLinks:hover {
    color: #E52520;
    text-decoration: underline;
}

.navbarMenuLinks:focus {
    color: #034579;
    text-decoration: underline;
}

.navbarMenuLinks:active {
    color: #034579;
}

.navIconLinksBlock {
    width: 20vw;
}

.navIconLinksBlock > a {
    color: #E52520;
    text-decoration: none;
}

.navIconLinksBlock > a:hover {
    color: #034579;
}

.navIconLinksBlock > a > i {
    font-size: 15pt;
}

.mainButtons {
    background-color: #2B6092;
    border: none;
}

.mainButtons:hover {
    background-color: #E52520;
}

.mainButtons:active {
    background-color: #034579 !important;
}

.secondButtons {
    background-color: #E52520;
    border: none;
}

.secondButtons:hover {
    background-color: #2B6092;
}

.secondButtons:active {
    background-color: #034579 !important;
}

.indexBG {
    position: absolute;
    width: 100%;
    background: #3F3E3A;
    z-index: -1;
}

.indexBG > img {
    width: 100%;
    z-index: -1;
    filter: brightness(30%);
}

.blocksTitle {
    padding-top: 13.8vh;
    /*padding-top: 3vh;*/
    padding-bottom: 3vh;
}

.blocksTitleFirst {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.blockBenefits {
    padding-top: 4.63vh;
}

.benefitsCards > img {
    padding-top: 4.32vh;
}

.benefitsCards > h4 {
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.benefitsCards > a {
    margin-bottom: 10vh;
}

.productCard {
    background: #0E0E0E;
    color: #FFFFFF;
}

.cardsHeadImage {
    transition: 1s;
}

.cardsHeadImage:hover {
    transform: scale(1.2);
    z-index: 1;
}

.productCardTitle {
    background: #E52520;
}

.productCardIcons {
    color: #034579;
}

.productCardBadge {
    background: #E52520 !important;
}

.productCardTitleMobile {
    color: #FFFFFF;
}

.groupCheckQuantity {
    width: inherit;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.quantitySelectionField {
    width: 70%;
    background: rgba(43, 96, 146, 0.25);
    border: 1px solid #034579;
    color: #FFFFFF;
    padding: 0 .8vw;
}

.groupCheckQuantity > .changeButtonPrevious, .groupCheckQuantity > .changeButtonNext {
    border: 1px solid #034579;
    color: #034579;
}

.groupCheckQuantity > .changeButtonPrevious:hover {
    background-color: #2B6092;
    color: #FFFFFF;
}

.groupCheckQuantity > .changeButtonNext:hover {
    background-color: #2B6092;
    color: #FFFFFF;
}

.searchCards {
    min-width: 20vw;
    margin-right: 1.5vw;
}

.searchCards:nth-of-type(1) {
    margin-left: 1.5vw;
}

.catalogTabs > .nav-item > .nav-link {
    color: #0E0E0E;
}

.catalogTabs > .nav-item > .nav-link:hover, .catalogTabs > .nav-item > .nav-link:active {
    border-color: #0E0E0E;
}

.catalogNavigationRow > .col-12 {
    padding-top: 1.5vh;
}

.catalogNavigationRow > div > nav > ul {
    justify-content: center;
}

.catalogNavigationRow > div > nav > ul > li > .page-link {
    background-color: #0E0E0E;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.catalogNavigationRow > div > nav > ul > li > .page-link:hover {
    color: #E52520;
}

.catalogNavigationRow > div > nav > ul > li > .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(43, 96, 146, 0.25);
    color: #2B6092;
}

.socials {
    flex-direction: column;
    justify-content: center;
}

.socials > a {
    color: #0E0E0E;
}

.contactsIcons {
    color: #034579;
}

.cartProduct {
    color: #034579;
}

.cartProductImage {
    height: 11vh;
}

.cartProductImageMobile {
    width: 100%;
}

.cartDel > a {
    color: #034579;
}

#menuBlockFull {
    height: 11vh;
}

#menuNavbarToggler {
    color: #FFFFFF;
}

#navbarBrandLogoFull {
    width: 20vw;
}

#navbarBrandLogoMobile {
    width: 50vw;
}

#searchRow {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

#searchCardsBlock {
    overflow-x: scroll;
    padding: 3vh 0;
    margin-bottom: 1.5vh;
}

#searchCardsBlock::-webkit-scrollbar {
    height: 1vh;
}

#searchCardsBlock::-webkit-scrollbar-thumb {
    background-color: #E52520;
}

#searchFormBlock {
    margin-top: 1.5vw;
}

#searchResultsBlock {
    padding: 0 1.5vh;
}

#searchNullResultBlock {
    padding: 3vh 0;
    color: #FFFFFF;
}

#promotionBlock > .row {
    align-items: center;
}

#indexCardHeadImg {
    max-height: 55vh;
}

#motto {
    color: #FFFFFF;
}

#salesBlock {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/salesShrimps.jpg);
    background-size: cover;
    color: #FFFFFF;
}

#shopBlock {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/shopLink.jpg);
    background-size: cover;
    color: #FFFFFF;
}


#contactsTitleBlock {
    height: 14.7vh;
}

#contactsContent {
    height: 74.3vh;
}

#deliveryTitle {
    height: 14.7vh;
}

#deliveryContent {
    height: 74.3vh;
}

#contactsAddres {
    font-weight: bold;
    padding-bottom: 1.5vh;
}

#contactsPhone {
    text-decoration: none;
}

#emptyCartButtonBlock {
    padding-top: 3vh;
}

#contactsTelegramLink {
    color: #0E0E0E;
    text-decoration: none;
}

#confirmOrderModal > .modal-dialog > .modal-content > .modal-header {
    border-bottom: 1px solid #FFFFFF;
}

#confirmOrderModal > .modal-dialog > .modal-content {
    background-color: #0E0E0E;
}

#confirmOrderModal > .modal-dialog > .modal-content > .modal-footer {
    border-top: 1px solid #FFFFFF;
}


#confirmOrderModalLabel {
    color: #FFFFFF;
}

#addOrderForm > div > .col-12 {
    padding-bottom: 1.5vh;
}

#addOrderForm > div > .col-12 > div > input {
    color: #0E0E0E;
}

#addOrderForm > div > .col-12 > div > label {
    color: #034579;
}

@media(max-width: 991.98px) {
    .navIconLinksBlock {
        width: auto;
    }

    .searchCards {
        min-width: 90vw;
        margin-right: 3vw;
    }

    .indexBG {
        height: 92vh;
    }

    .indexBG > img {
        height: 92vh;
    }

    #menuBlockFull, #indexBGFull {
        display: none;
    }

    #menuBlockMobile > div > .navbar-brand {
        margin: 0;
    }

    #indexCardHeadImg {
        max-height: 30vh;
    }

    #promotionBlock > .row {
        height: 92vh;
    }

    #motto {
        text-align: center;
    }

    #cartRowFull {
        display: none;
    }

    #deliveryContent {
        height: 67vh;
    }

    #contactsContent {
        height: 67vh;
    }
}

@media(min-width: 991.98px) {
    .indexBG {
        height: 89vh;
    }

    .indexBG > img {
        height: 89vh;
    }

    .promotionSlider {
        height: 89vh;
        padding-top: 5vh;
    }
    
    #menuBlockMobile, #indexBGMobile {
        display: none;
    }

    #promotionBlock > .row {
        height: 89vh;
    }

    #promoCard {
        width: 75%;
    }

    #cartRowMobile {
        display: none;
    }
}