<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <title>
            {% block title %}
                Океан Камчатка Сахалин
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "image/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "image/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "image/favicon-16x16.png" %}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/fontawesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/solid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/brands.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/slick.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>
    </head>
    <body>
        {% include "menu.html" %}
        {% block content %}
            Default content
        {% endblock %}
        <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    </body>
</html>