{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center blocksTitleFirst">
                <h3>
                    <b style="color: #034579;">
                        Каталог
                    </b>
                </h3>
                Информация о всех наших товарах
            </div>
        </div>
        {% if page_data.paginator.count != 0 %}
            <div class="row row-cols-1 row-cols-lg-3 g-4">
	            {% for product in page_data %}
		            <div class="col">
		                <div class="card h-100 productCard">
							{% thumbnail product.photo "600" as im %}
								<a href="{{product.photo.url}}">
			                		<img src="{% if im.url %}{{ im.url }}{% else %}{% static "image/no_image.jpg" %}{% endif %}" class="card-img-top cardsHeadImage" alt="...">
								</a>
							{% endthumbnail %}
							<div class="card-body">
					            <h5 class="card-title text-center productCardTitle">
				                    {{ product.name }}
				                </h5>
				                <p class="card-text">
					                {{ product.description }}
				                </p>
			                    <div class="row card-text">
					                <div class="col-12">
						                <i class="fa-solid fa-globe productCardIcons"></i> Страна производитель: {{ product.country }}
						            </div>
						            <div class="col-12">
						                <i class="fa-solid fa-weight-scale productCardIcons"></i> Вес: {{ product.weight }} кг
					                </div>
				                </div>
			                    <p class="card-text">
				                    <h4>
    						            <b>
	    							        {{ product.price|floatformat:0}} <i class="fa-solid fa-ruble-sign"></i>
		    					        </b>
			    			        </h4>
									<form action="{% url "cart:add_to_cart" product.id %}" method="post">
										{{ add_to_cart_form }}
										{% csrf_token %}
										<input type="submit" value="Добавить">
									</form>
				    	        </p>
    				        </div>
	    			        {% if product.count <= 3 %}
		    		            <div class="card-footer">
			    	                <small class="text-muted">
				    	                <span class="badge text-bg-danger productCardBadge">
					    	                Осталось в наличии: {{product.count}}
						                </span>
						            </small>
    					        </div>
	    				        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger productCardBadge">
		    			            <i class="fa-solid fa-exclamation"></i>
			    	                <span class="visually-hidden">
				    	                Товара осталось мало на складе
				                    </span> 
			                    </span>
			                {% endif %}
    		            </div>
                    </div>
	            {% endfor %}
            </div>
            {% include "catalogPaginator.html" %}
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    К сожалению, товары в данной категории ещё не добавлены... Возвращайтесь чуть позже!
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}