{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    Ваши любимые продукты
                </h3>
                Позиции, которые пользуются особым вниманием у наших покупателей
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                6 Карточек
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>
                    Каталог
                </h3>
                Информация о всех наших товарах
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="frozenFishTab" data-bs-toggle="tab" data-bs-target="#frozenFishTabPanel" type="button" role="tab" aria-controls="frozenFishTabPanel" aria-selected="true">
                            Рыба замороженная
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="driedFoodsTab" data-bs-toggle="tab" data-bs-target="#driedFoodsTabPanel" type="button" role="tab" aria-controls="driedFoodsTabPanel" aria-selected="false">
                            Вяленные продукты
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="delicaciesTab" data-bs-toggle="tab" data-bs-target="#delicaciesTabPanel" type="button" role="tab" aria-controls="delicaciesTabPanel" aria-selected="false">
                            Деликатесы
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="groceryTab" data-bs-toggle="tab" data-bs-target="#groceryTabPanel" type="button" role="tab" aria-controls="groceryTabPanel" aria-selected="false">
                            Бакалея
                        </button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="frozenFishTabPanel" role="tabpanel" aria-labelledby="frozenFishTab" tabindex="0">
                        {% include "catalogsContentBase.html" %}
                    </div>
                    <div class="tab-pane fade" id="driedFoodsTabPanel" role="tabpanel" aria-labelledby="driedFoodsTab" tabindex="1">
                        {% include "catalogsContentBase.html" %}
                    </div>
                    <div class="tab-pane fade" id="delicaciesTabPanel" role="tabpanel" aria-labelledby="delicaciesTab" tabindex="2">
                        {% include "catalogsContentBase.html" %}
                    </div>
                    <div class="tab-pane fade" id="groceryTabPanel" role="tabpanel" aria-labelledby="groceryTab" tabindex="3">
                        {% include "catalogsContentBase.html" %}
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}