{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="indexBG" id="indexBGFull">
        <img src="{% static "image/indexBG.jpg" %}" alt="">
    </div>
    <div class="indexBG" id="indexBGMobile">
        <img src="{% static "image/indexBGMobile.png" %}" alt="">
    </div>
    <div class="container-fluid" id="promotionBlock">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-ld-1">
                <div class="card h-100 productCard">
                    <img src="{{ all_products_list.photo.url }}" class="card-img-top" id="indexCardHeadImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center productCardTitle">
                            {{ all_products_list.name }}
                        </h5>
                        <div class="row card-text">
                            <div class="col-12">
                                <i class="fa-solid fa-globe productCardIcons"></i> Страна производитель: {{ all_products_list.country }}
                            </div>
                            <div class="col-12">
                                <i class="fa-solid fa-weight-scale productCardIcons"></i> Вес: {{ all_products_list.weight }} кг
                            </div>
                        </div>
                        <p class="card-text">
                            <h4>
                                <b>
                                    {{ all_products_list.price|floatformat:0}} <i class="fa-solid fa-ruble-sign"></i>
                                </b>
                            </h4>
                        </p>
                    </div>
                    {% if all_products_list.count <= 3 %}
                        <div class="card-footer">
                            <small class="text-muted">
                                <span class="badge text-bg-danger productCardBadge">
                                    Осталось в наличии: {{all_products_list.count}}
                                </span>
                            </small>
                        </div>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger productCardBadge">
                            <i class="fa-solid fa-exclamation"></i>
                            <span class="visually-hidden">
                                Товара осталось мало на складе
                            </span> 
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <h1 id="motto">
                    Океан Камчатка Сахалин - крупнейшая Федеральная сеть состоящая из более 189 рыбных магазинов
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row blocksTitle">
            <div class="col-12 text-center">
                <h3>
                    Мы стараемся для вас
                </h3>
            </div>
        </div>
        <div class="row blockBenefits">
            <div class="col-12 col-lg-4 text-center benefitsCards" id="shopBlock">
                <h4>
                    Приятная цена
                </h4>
                <p>
                    Ежедневно мы стараемся найти лучшую цену на ваши любимые продукты, ищем новых поставщиков наилучшего соотношения цены и качества и постоянно ищем правильных поставщиков для нашей продукции
                </p>
                <a class="btn btn-primary mainButtons" href="{% url "catalog" %}">
                    К каталогу
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center benefitsCards">
                <img class="img-fluid" src="{% static "image/logoFish.png" %}">
                <h4>
                    Свежайшая рыба каждый день
                </h4>
                <p>
                    Весь асортимент мы получаем лично у проверенных поставщиков и регулярно контролируем качество продукции
                </p>
            </div>
            <div class="col-12 col-lg-4 text-center benefitsCards" id="salesBlock">
                <h4>
                    Акции
                </h4>
                <p>
                    В нашем магазине постоянно проходят акции, например, каждый четверг скидка 10% на креветки! Всё для того, чтобы Вы, наши любимые покупатели, всегда получали лучшую рыбу, по лучшей цене!
                </p>
            </div>
        </div>
        {% if most_relevanted_products.count > 0 %}
            <div class="row">
                <div class="col-12 text-center blocksTitle">
                    <h3>
                        Ваши любимые продукты
                    </h3>
                    Позиции, которые пользуются особым вниманием у наших покупателей
                </div>
            </div>
            <div class="row">
                <div class="col-12">
	                <div class="row row-cols-1 row-cols-lg-3 g-4">
    	                {% for most_relevanted_product in most_relevanted_products %}
			                <div class="col">
        		                <div class="card h-100 productCard">
          			                <img src="{{ most_relevanted_product.photo.url }}" class="card-img-top" alt="...">
          			                <div class="card-body">
            			                <h5 class="card-title text-center productCardTitle">
							                {{ most_relevanted_product.name }}
						                </h5>
            			                <p class="card-text">
							                {{ most_relevanted_product.description }}
						                </p>
                                        <div class="row card-text">
                                            <div class="col-12">
                                                <i class="fa-solid fa-globe productCardIcons"></i> Страна производитель: {{ most_relevanted_product.country }}
                                            </div>
                                            <div class="col-12">
                                                <i class="fa-solid fa-weight-scale productCardIcons"></i> Вес: {{ most_relevanted_product.weight }}
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <h4>
                                                <b>
                                                    {{ most_relevanted_product.price|floatformat:0}} <i class="fa-solid fa-ruble-sign"></i>
                                                </b>
                                            </h4>
                                        </p>
          			                </div>
                                    {% if most_relevanted_product.count <= 3 %}
					                    <div class="card-footer">
						                    <small class="text-muted">
                                                <span class="badge text-bg-danger productCardBadge">
                                                    Осталось в наличии: {{most_relevanted_products.count}}
                                                </span>
                                            </small>
					                    </div>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger productCardBadge">
                                            <i class="fa-solid fa-exclamation"></i>
                                            <span class="visually-hidden">
                                                Товара осталось мало на складе
                                            </span>
                                        </span>
                                    {% endif %}
        		                </div>
      		                </div>
		                {% endfor %}
	                </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}