{% load static %}
<nav class="navbar navbar-expand-lg menuBlocks" id="menuBlockFull">
    <div class="container-fluid">            
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link navbarMenuLinks" aria-current="page" href="{% url "index" %}">
                    Главная
                </a> <!--TODO active?-->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Каталог
                </a>
                <ul class="dropdown-menu">
                    {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url "catalog" %}?category={{ category.id }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Магазин
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url "about" %}">
                            О магазине
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url "how_to_make_order" %}">
                            Как сделать заказ
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url "delivery" %}">
                            Доставка
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url "contacts" %}">
                            Контакты
                        </a>
                    </li>
                </ul>
            </li>
            {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Статьи
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#">
                            Советы и рецепты
                        </a>
                    </li>
                </ul>
            </li> {% endcomment %}
        </ul>
        <a class="navbar-brand" href="{% url "index" %}">
            <img src="{% static "image/logo.webp" %}" alt="logo" id="navbarBrandLogoFull">
        </a>
        <div class="nav-item text-end navIconLinksBlock" id="navIconLinksBlock">
            <a class="navbar-link" href="#" data-bs-toggle="collapse" data-bs-target="#searchRow" aria-expanded="true" aria-controls="searchRow">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a class="navbar-link" href="{% url "cart:cart_detail" %}">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg menuBlocks" id="menuBlockMobile">
    <div class="container-fluid">
        <button class="navbar-toggler" id="menuNavbarToggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsedContent" aria-controls="navbarCollapsedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button> 
        <a class="navbar-brand" href="{% url "index" %}">
            <img src="{% static "image/logo.webp" %}" alt="logo" id="navbarBrandLogoMobile">
        </a>
        <div class="nav-item text-end navIconLinksBlock" id="navIconLinksBlock">
            <a class="navbar-link" href="#" data-bs-toggle="collapse" data-bs-target="#searchRow" aria-expanded="true" aria-controls="searchRow">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a class="navbar-link" href="{% url "cart:cart_detail" %}">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapsedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbarMenuLinks" aria-current="page" href="{% url "index" %}">
                        Главная
                    </a> <!--TODO active?-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Каталог
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="{% url "catalog" %}?category={{ category.id }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Магазин
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url "about" %}">
                                О магазине
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "how_to_make_order" %}">
                                Как сделать заказ
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "delivery" %}">
                                Доставка
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url "contacts" %}">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </li>
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbarMenuLinks" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Статьи
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                Советы и рецепты
                            </a>
                        </li>
                    </ul>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>   
{% include "searchBlock.html" %}