{% extends "base.html" %}
{% load main_app_extras %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center blocksTitleFirst">
                <h3>
                    <b style="color: #034579;">
                        Корзина
                    </b>
                </h3>
                Корзина с вашим заказом
            </div>
        </div>
        {% if cart|length > 0 %}
            <div class="row" id="cartRowFull">
                <div class="col-12">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Продукт
                                </th>
                                <th scope="col">
                                    Цена
                                </th>
                                <th scope="col">
                                    Количество
                                </th>
                                <th scope="col" colspan="2">
                                    Общая цена
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr>
                                        <td class="cartProduct">
                                            {% thumbnail product.photo "600" as im %}
			                		            <img src="{% if im.url %}{{ im.url }}{% else %}{% static "image/no_image.jpg" %}{% endif %}" class="cartProductImage" alt="...">
							                {% endthumbnail %}
                                            {{ product.name }}
                                        </td>
                                        <td>
                                            {% if product.price|entireweight %}
                                                {{ product.price|floatformat }}
                                            {% else %}
                                                {{ product.price|floatformat:2 }}
                                            {% endif %}
                                            {% if product.price_for_kg %}
                                                &#8381/кг
                                            {% else %}
                                                &#8381/шт
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.quantity|entireweight %}
                                                {{ item.quantity|floatformat }} кг
                                            {% else %}
                                                {{ item.quantity|tograms }}
                                            {% endif %}
                                            {% if item.notInAllWarn %}
                                                <small class="text-muted">
                                                    <span class="badge text-bg-danger productCardBadge">
                                                        Количество изменено!<br>
                                                        Осталось в наличии:
                                                        {% if product.count|entireweight %}
                                                            {{ product.count|floatformat }} кг
                                                        {% else %}
                                                            {{ product.count|tograms }}
                                                        {% endif %}
                                                    </span>
                                                </small>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.total_price|entireweight %}
                                                {{ item.total_price|floatformat }}
                                            {% else %}
                                                {{ item.total_price|floatformat:2 }}
                                            {% endif %} &#8381
                                        </td>
                                        <td class="cartDel">
                                            <a href="{% url "cart:cart_remove" product.id %}">
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" id="cartRowMobile">
                <div class="col-12">
                    {% for item in cart %}
                        {% with product=item.product %}
                            <div class="row">
                                <div class="col-4">
                                    {% thumbnail product.photo "600" as im %}
			                		    <img src="{% if im.url %}{{ im.url }}{% else %}{% static "image/no_image.jpg" %}{% endif %}" class="cartProductImageMobile" alt="...">
							        {% endthumbnail %}
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>
                                                <b>
                                                    {% if item.total_price|entireweight %}
                                                        {{ item.total_price|floatformat }}
                                                    {% else %}
                                                        {{ item.total_price }}
                                                    {% endif %} &#8381
                                                </b>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-center productCardTitle productCardTitleMobile">
                                                {{ product.name }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="fa-solid fa-weight-scale productCardIcons"></i> Вес:
                                            {% if item.quantity|entireweight %}
                                                {{ item.quantity|floatformat }} кг
                                            {% else %}
                                                {{ item.quantity|tograms }}
                                            {% endif %}
                                            {% if item.notInAllWarn %}
                                                <small class="text-muted">
                                                    <span class="badge text-bg-danger productCardBadge">
                                                        Количество изменено!<br>
                                                        Осталось в наличии:
                                                        {% if product.count|entireweight %}
                                                            {{ product.count|floatformat }} кг
                                                        {% else %}
                                                            {{ product.count|tograms }}
                                                        {% endif %}
                                                    </span>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-end cartDel">
                                            <a href="{% url "cart:cart_remove" product.id %}">
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    {% comment %} <a href="{% url "orders:order_create" %}" class="btn btn-primary" id="confirmOrder">
                        Оформить заказ
                    </a> {% endcomment %}
                    <button type="button" class="btn btn-primary secondButtons" id="confirmOrder" data-bs-toggle="modal" data-bs-target="#confirmOrderModal">
                        Оформить заказ
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    Увы, вы ещё не добавили ни одного товара и ваша корзина пуста...
                </div>
                <div class="col-12 text-center" id="emptyCartButtonBlock">
                    <a class="btn btn-primary mainButtons" href="{% url "catalog" %}?category=1">
                        К каталогу
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="confirmOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="confirmOrderModalLabel">
                        Оформление заказа
                    </h3>
                </div>
                <div class="modal-body">
                    <div class ="container-fluid">
                        <form action="" method="post" id="addOrderForm">
                            <div class="row">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="col-12">
                                    {{ form.first_name.errors }}
                                    <div class="form-floating">
                                        {{ form.first_name }}
                                        <label for="{{ form.first_name.id_for_label }}">
                                            <i class="fa-solid fa-address-book"></i> {{ form.first_name.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    {{ form.last_name.errors }}
                                    <div class="form-floating">
                                        {{ form.last_name }}
                                        <label for="{{ form.last_name.id_for_label }}">
                                            <i class="fa-solid fa-address-book"></i> {{ form.last_name.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    {{ form.email.errors }}
                                    <div class="form-floating">
                                        {{ form.email }}
                                        <label for="{{ form.email.id_for_label }}">
                                            <i class="fa-solid fa-at"></i> {{ form.email.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    {{ form.address.errors }}
                                    <div class="form-floating">
                                        {{ form.address }}
                                        <label for="{{ form.address.id_for_label }}">
                                            <i class="fa-solid fa-location-dot"></i> {{ form.address.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12" style="padding-bottom: 0;">
                                    {{ form.address.errors }}
                                    <div class="form-floating">
                                        {{ form.mobile_phone }}
                                        <label for="{{ form.mobile_phone.id_for_label }}">
                                            <i class="fa-solid fa-phone"></i> {{ form.mobile_phone.label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mainButtons" data-bs-dismiss="modal">
                        Вернуться к корзине
                    </button>
                    <input type="submit" class="btn btn-secondary secondButtons" form="addOrderForm" value="Подтвердить заказ">
                </div>
            </div>
        </div>
    </div>
{% endblock %}